.form1 {
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: white;
}
input {
  border-radius: 4px;
}
