<!-- header -->
<div class="header">
  <div class="top_header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="select_main">
            <img
              src="assets/images/tour1.jpg"
              height="50px"
              width="50px"
              style="border-radius: 50%"
            />
            <div class="sign">
              <div
                class="niceCountryInputSelector se_flag"
                style="width: 200px"
                data-selectedcountry="US"
                data-showspecial="false"
                data-showflags="true"
                data-i18nall="All selected"
                data-i18nnofilter="No selection"
                data-i18nfilter="Filter"
                data-onchangecallback="onChangeCallback"
              ></div>
            </div>
            <ul class="top_infomation">
              <li>
                <img src="assets/images/ti_call.png" alt="#" />Call :
                +1234567890
              </li>
              <li>
                <img src="assets/images/ti_mail.png" alt="#" /><a
                  href="Javascript:void(0)"
                >
                  demo@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header_midil" style="margin-top: 30px">
  <div class="container">
    <div class="row d_flex">
      <div class="col-md-2 col-sm-3 logo_section">
        <div class="full">
          <div class="center-desk">
            <div class="logo">
              <a href="index.html"
                ><img src="assets/images/logo.png" alt="#"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-8">
        <nav class="navigation navbar navbar-expand-md navbar-dark">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExample04"
            aria-controls="navbarsExample04"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a
                  class="nav-link text-primary"
                  [routerLink]="['/home']"
                  style="font-weight: bold"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-primary"
                  [routerLink]="['/about']"
                  style="font-weight: bold"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-primary"
                  [routerLink]="['/blog']"
                  style="font-weight: bold"
                  >Blog</a
                >
              </li>
              <li class="nav-item" *ngIf="checklogin == 'false'">
                <a
                  class="nav-link text-primary"
                  [routerLink]="['/registration']"
                  style="font-weight: bold"
                  >Registration</a
                >
              </li>
              <li class="nav-item" *ngIf="checklogin == 'false'">
                <a
                  class="nav-link text-primary"
                  [routerLink]="['/login']"
                  style="font-weight: bold"
                  >Login</a
                >
              </li>
              <li class="nav-item" *ngIf="checklogin == 'true'">
                <a
                  class="nav-link text-primary"
                  [routerLink]="['/user/bookbus']"
                  style="font-weight: bold"
                  >Book Bus</a
                >
              </li>
              <li class="nav-item" *ngIf="checklogin == 'true'">
                <a
                  class="nav-link text-primary"
                  [routerLink]="['/user/booktraveling']"
                  style="font-weight: bold"
                  >Book Traveling</a
                >
              </li>
            </ul>
          </div>
          <button
            style="margin-left: 300px"
            *ngIf="checklogin == 'true'"
            class="btn btn-danger"
            type="button"
            (click)="logout()"
          >
            LogOut
          </button>
        </nav>
      </div>
      <div class="col-md-2 d_none">
        <ul class="email text_align_right">
          <li>
            <a href="Javascript:void(0)"
              ><i class="fa fa-user" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="Javascript:void(0)"
              ><i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
