<div class="packages">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage text_align_center">
          <h2>Our Blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="ho_img" class="packages_box" data-aos="fade-right">
          <figure><img src="assets/images/blog1.jpg" alt="#" /></figure>
          <div class="tuscany">
            <div class="tusc text_align_left">
              <div class="italy">
                <h3>Tuscany</h3>
                <span><img src="assets/images/loca.png" alt="#" /> Italy</span>
              </div>
              <div class="italy_right">
                <h3>Price</h3>
                <span>$1000.0</span>
              </div>
            </div>
            <p>
              Content here, content here', making it look like readable English.
              Many desktop publishing packagesContent here, content here',
              making it look like readable English. Many desktop publishing
              packages and web page editors now us
            </p>
            <div class="tusc">
              <a class="read_more" href="Javascript:void(0)">Read More</a>
              <a class="read_more" href="Javascript:void(0)">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="ho_img" class="packages_box" data-aos="fade-left">
          <figure><img src="assets/images/blog2.jpg" alt="#" /></figure>
          <div class="tuscany">
            <div class="tusc text_align_left">
              <div class="italy">
                <h3>Pais</h3>
                <span><img src="assets/images/loca.png" alt="#" /> Italy</span>
              </div>
              <div class="italy_right">
                <h3>Price</h3>
                <span>$1000.0</span>
              </div>
            </div>
            <p>
              Content here, content here', making it look like readable English.
              Many desktop publishing packagesContent here, content here',
              making it look like readable English. Many desktop publishing
              packages and web page editors now us
            </p>
            <div class="tusc">
              <a class="read_more" href="Javascript:void(0)">Read More</a>
              <a class="read_more" href="Javascript:void(0)">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="ho_img" class="packages_box" data-aos="fade-right">
          <figure><img src="assets/images/blog3.jpg" alt="#" /></figure>
          <div class="tuscany">
            <div class="tusc text_align_left">
              <div class="italy">
                <h3>San Francisco</h3>
                <span
                  ><img src="assets/images/loca.png" alt="#" /> United States
                </span>
              </div>
              <div class="italy_right">
                <h3>Price</h3>
                <span>$1000.0</span>
              </div>
            </div>
            <p>
              Content here, content here', making it look like readable English.
              Many desktop publishing packagesContent here, content here',
              making it look like readable English. Many desktop publishing
              packages and web page editors now us
            </p>
            <div class="tusc">
              <a class="read_more" href="Javascript:void(0)">Read More</a>
              <a class="read_more" href="Javascript:void(0)">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="ho_img" class="packages_box" data-aos="fade-left">
          <figure><img src="assets/images/blog4.jpg" alt="#" /></figure>
          <div class="tuscany">
            <div class="tusc text_align_left">
              <div class="italy">
                <h3>Phuket</h3>
                <span
                  ><img src="assets/images/loca.png" alt="#" /> Thailandia</span
                >
              </div>
              <div class="italy_right">
                <h3>Price</h3>
                <span>$1000.0</span>
              </div>
            </div>
            <p>
              Content here, content here', making it look like readable English.
              Many desktop publishing packagesContent here, content here',
              making it look like readable English. Many desktop publishing
              packages and web page editors now us
            </p>
            <div class="tusc">
              <a class="read_more" href="Javascript:void(0)">Read More</a>
              <a class="read_more" href="Javascript:void(0)">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <a class="read_more" href="Javascript:void(0)">See More</a>
      </div>
    </div>
  </div>
</div>
