<!-- end customers -->
<!--  footer -->
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="letter text_align_left">
            <h2>Contact Us</h2>
          </div>
        </div>
        <div class="col-md-5">
          <form id="request" class="main_form">
            <div class="row">
              <div class="col-md-12">
                <input
                  class="cont_in"
                  placeholder="Full Name"
                  type="type"
                  name=" Name"
                />
              </div>
              <div class="col-md-12">
                <input
                  class="cont_in"
                  placeholder="Your Email"
                  type="type"
                  name="Email"
                />
              </div>
              <div class="col-md-12">
                <input
                  class="cont_in"
                  placeholder="Phone Number"
                  type="type"
                  name="Phone Number"
                />
              </div>
              <div class="col-md-12">
                <input
                  class="cont_in"
                  placeholder="Your Words"
                  type="type"
                  name="Words"
                />
              </div>
              <div class="col-md-12">
                <button class="send_btnt">Send</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <ul class="conta">
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>Locations
            </li>
            <li>
              <i class="fa fa-phone" aria-hidden="true"></i>+01 1234567890
            </li>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"></i
              ><a href="Javascript:void(0)"> demo@gmail.com</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="follow text_align_left">
            <h3>Follow Us</h3>
            <ul class="social_icon">
              <li>
                <a href="Javascript:void(0)"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="Javascript:void(0)"
                  ><i class="fa fa-twitter" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="Javascript:void(0)"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="Javascript:void(0)"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="follow letter text_align_left">
            <h3>Newsletter</h3>
            <form class="form_subscri">
              <input
                class="newsl"
                placeholder="Email"
                type="text"
                name="Email"
              />
              <button class="subsci_btn">subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              © 2020 All Rights Reserved. Design by
              <a href="https://html.design/"> Free html Templates</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
