.busdetails {
  margin: 5%;
  display: flex;
  gap: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  height: 80%;

  //  align-items: center;
}
.busbody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 3px;
  // border-radius: 10px;
  border-bottom-right-radius: 10px;
}
